.music-player {
    width: 300px;
    margin: 40px auto;
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.player-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

.track-info {
    font-size: 18px;
    margin-bottom: 20px;
}
#track-name {
    font-weight: bold;
}

#track-duration {
    color: #666;
}